
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "resources/assets/css/bootswatch";


html, body {
  background-color: #232a3a;
  color: #e8e8e8;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  font-size: 2.8vmin;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.top-right.links {
  font-size: .5em;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}
a {
  color: #e8e8e8;
  text-decoration: none;
}
div.lb_entry span.lb_number {
  font-weight: 200;
  font-size: 1.5em;
  color: #929292;
}
div.lb_entry a  {
  font-size: 1.2em;
  color: #929292;
}

div.lb_place_1 a   {
  font-size: 3em;
  color: #ae8241;
}
div.lb_place_2 a  {
  font-size: 2.5em;
  color: #ababab;
}
div.lb_place_3 a {
  font-size: 1.9em;
  color: #a96d5b;
}
div.lb_place_1 span.lb_number{
  font-size: 3.3em;
  color: #ae8241;
}
div.lb_place_2 span.lb_number{
  font-size: 2.8em;
  color: #ababab;
}
div.lb_place_3 span.lb_number{
  font-size: 2.2em;
  color: #a96d5b;
}
div.lb_upload_link {
  margin-top: 3em;
  font-size: 0.6em;
}

div.lb_entry {
  white-space: nowrap;
  line-height: 1.5em;
}
div.lb_place_1 {
  line-height: 2em;
}
div.lb_place_2 {
  line-height: 2em;
}
div.lb_place_3 {
  line-height: 2em;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
.ui-menu-item {
  font-size: 15px;
  line-height: 1.42857143;
  color: #464545;
  background-color: #ffffff;
  font-weight: normal;
  padding-left: 1em;
}
.ui-menu-item.ui-state-focus {
  color: #f3f0f0;
  background-color: #0088cc;
}

/* player view */
div.row.player-container {
  width: 100%;
}
span.pv_streak_header, span.pv_aspa_header,
span.pv_score_header, span.pv_accur_header {
  font-size: .8em;
}
span.pv_streak_best, span.pv_aspa_current,
span.pv_score_current, span.pv_accur_current {
  font-size: 3.5em;
  line-height: 1.2em;
}
span.pv_streak_global, span.pv_aspa_global,
span.pv_score_global, span.pv_accur_global {
  font-size: .6em;
  color: #999999;
}
span.pv_bold {
  font-weight: 400;
}
span.pv_aliases {
  font-size: .8em;
  color: #9c9c9c;
}